@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #003554;
  --secondary-color: #001f2d;
  --font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--primary-color);
  font-family: var(--font-family);
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.poppins-title{
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 72px;
  line-height: 108px;

}

.poppins-year{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 72px;
}

.button{
  width: 193px;
  height: 41px;
  top: 698px;
  left: 784px;
  border-radius: 8px;
  background: #ff5055;
}